<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        x-conf
    </title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">

</head>

<body>
    <div class="ui blue inverted menu">
        <a class="active item">X-Conf</a>
        <div class="right menu">
            <button class="ui blue button createPrj">Create Project</button>
            <a class="ui item" href="/logout">Logout </a>
        </div>
    </div>

    <div class="ui grid">
        <div class="three wide column">
            <select class="ui dropdown" id="prjs">
                <option value="">select projects</option>
            </select>
            <div class="ui blue vertical pointing menu envMenu">
              <a class="item">Prod </a>
              <a class="item">QA </a>
              <a class="item">Dev </a>
              <a class="item">Local </a>
            </div>
        </div>
        <div class="thirteen wide column">
            <button class="ui blue button upload">Upload </button>
            <a class="ui blue button download" href="#">Download </a>
            <button class="ui blue button configure">Configure </button>
            <button class="ui blue button publish">Publish </button>
            <a class="ui blue button heartCheck" href="#">Check </a>
            <table class="ui celled striped table">
                <thead>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Operation</th>
                </thead>
                <tbody class="confList">

                </tbody>
            </table>
        </div>
    </div>

    <div class="ui small modal prj">
        <div class="header">创建项目</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>项目</label>
                    <input type="text" name="prjName" placeholder="项目名称" id="inputPrjName">
                </div>
                <button class="ui blue button creatingPrj" type="button">创建</button>
            </form>
        </div>
    </div>
    <div class="ui small modal conf">
        <div class="header">配置</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>Key</label>
                    <input type="text" name="key" placeholder="key" id="inputKey">
                </div>
                <div class="field">
                    <label>Value</label>
                    <input type="text" name="value" placeholder="value" id="inputValue">
                </div>
                <button class="ui blue button createConf" type="button">配置</button>
            </form>
        </div>
    </div>
    <div class="ui small modal uploadM">
        <div class="header">上传配置文件</div>
        <div class="content">
            <form class="ui form" action="/x/conf/configures" method="POST" enctype="multipart/form-data" onsubmit="return notEmpty('inputFile')">
                <div class="field">
                    <label>File</label>
                    <input type="hidden" name="prjName" id="inputUpPrj">
                    <input type="hidden" name="env" id="inputUpEnv">
                    <input type="file" name="confsFile" placeholder="file" id="inputFile">
                </div>
                <input class="ui blue button" type="submit" value="Upload">
            </form>
        </div>
    </div>
    <div class="ui small modal heart">
        <div class="header">instances</div>
        <div class="content">
            <table class="ui celled table">
                <tbody class="heart-instance">
                </tbody>
            </table>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/js-cookie/2.1.2/js.cookie.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="/static/js/config.js"></script>
</body>

</html>
